extends layout

block content
  form(method='POST')
    legend Mot de Passe Oublier
    .form-group
      label(for='email') Email
      input.form-control(type='text', name='email', autofocus)
    button.btn.btn-success(type='submit') Reset Password