head
    link(rel='stylesheet', href='bootstrap-3.3.6-dist/css/bootstrap.min.css')
    script(src='jquery-2.2.1.min.js')
    script(src='bootstrap-3.3.6-dist/js/bootstrap.min.js')
    script(src='validator.js')
    script(src='socket.io.js')