doctype html
html
   include ./header.jade
   body
    nav.navbar.navbar-inverse
       div.navbar-header
        button.navbar-toggle(type = "button" ,data-toggle="collapse",data-target="#list")
         span.sr-only Toggle navigation
         span.icon-bar
         span.icon-bar
         span.icon-bar
        a.navbar-brand(href = "#") SauvNotes
       div.collapse.navbar-collapse(id="list")
         ul.nav.navbar-nav
           li
             a(href="/create") creer un compte
    div.container
       div.col-md-8.col-xs-8.col-lg-6.offset-3
        fieldset
            legend
              strong Connectez vous
            form(action="/login",method="post",data-toggle="validator")
             div.row
              div.form-group
                label(for="login") Nom:
                input.form-control(type="text",name="login",id="login",placeholder="your name",data-error="vous devez saisire votre nom pour pouvoir vous authentifier !",required)
                div.help-block.with-errors
              div.form-group
                label(for="password") Password:
                input.form-control(type="password", name="password",id="password",pattern="^[^'=()]{3,}$",placeholder="your passwd here",data-error="le mot de passe ne doit pas contenir les caractère ' , =ou ()",required)
                div.help-block.with-errors
              button.btn.btn-default(type="submit",value="Login",) Login  
    