doctype html
html
   include ./header.jade
   body
    nav.navbar.navbar-inverse
       div.navbar-header
        button.navbar-toggle(type = "button" ,data-toggle="collapse",data-target="#list")
         span.sr-only Toggle navigation
         span.icon-bar
         span.icon-bar
         span.icon-bar
        a.navbar-brand(href = "#") SauvNotes
       div.collapse.navbar-collapse(id="list")
         ul.nav.navbar-nav
           li.show
             a(href="/admin") administration
           li.show
             a(href="/telecharger") ajouter une matiere
           li.show
             a(href="/list") afficher mes notes
           li
             a(href="/module") creer module
           li
             a(href="/modifier") modifier mes notes
           li
             a(href="/logout") se deconnecter
    -var liste=JSON.parse(listeMat);
    -console.log(liste);
    -counter=0
    div.container
      div.row
        div.content
          -for(var mat in liste)
            div.col-xs-12.col-sm-12.col-md-6.col-lg-4
             p(style="font-size:15px;").= mat
             table.table.table-striped
              thead
               tr
                th nom et prenom
                th note
           
              tbody
               -for(var name in liste[mat])
                 tr
                   td=name
                   td=liste[mat][name]