extends layout
  
block content
  form.form-horizontal#fichier_eleve_form(action="/stages/eleves", method="post", enctype="multipart/form-data")
    .form-group
      label.col-sm-2(for="fichier_eleves") Fichier Excel
      .col-sm-10
        input#fichier_eleves(name="fichier_eleves", type="file")
    .form-group
      label.col-sm-2(for="annee_universitaire") Année universitaire
      .col-sm-10
        input.form-control#annee_universitaire(name="annee_universitaire")
    .form-group
      label.col-sm-2(for="filiere") Filière
      .col-sm-10
        input.form-control#filiere(name="filiere")
    .form-group
      label.col-sm-2(for="niveau") Niveau
      .col-sm-10
        input.form-control#niveau(name="niveau")
    button.btn.btn-primary(type="submit") Importer
