doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    .container
      header.barre_des_logos
        img.logo(src="/images/logo_ump.svg")
        h1.grand_titre.text-muted Scholar Manager - Stages
        img.logo(src="/images/logo_ensao.png")
      nav.navigation_principale
        ul.nav.nav-justified
          li
            a(href="/stages/eleves/importer") Importer des élèves
          li
            a(href="/stages/eleves/trouver") Trouver des élèves
          li
            a(href="/stages/pfes") Liste des PFE
      .chemin_actuel
        h3.text-muted (CHEMIN ACTUEL)
      block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",
      crossorigin="anonymous"
    )
