<div class="navbar navbar-default" role="navigation" >
            <button type="button" class="btn btn-info" ng-click="add()" ng-disabled="addVisible"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="Ajouter Comptes"></span></button>
            <button type="button" class="btn btn-info" ng-click="Adduniv()" ng-disabled="adduniv"> Ajouter Universités</button>
            <a class="btn btn-primary" href="/ComptesUpload">Importer un fichier excel</a>
            <input type="text" ng-model="q" class="search-input" placeholder="Chercher par Nom .."/>
          
 </div>
 
<div class="panel panel-default" >

  <div class="adduser">
    <form ng-show="addVisible" enctype="multipart/form-data">
      <fieldset>
        <legend>Ajouter Comptes</legend>
        <table class="table border">
          <tr>
            <td class="image">
              <img src="./images/imageupload.png" id="upfile1" style="cursor:pointer" />
              <input type="file" id="file1"  name="file1" style="display:none" ngf-pattern="'image/*'" ngf-max-size="20MB" accept="image/*" ng-model="up.file"/>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label " for="nomp">Nom :</label>
              <input type="text" class="form-control" ng-model="user.nNom" accept=".png,.jpeg"/>
            </td>
            <td>
              <label class="control-label " for="Prenom">Prenom :</label>
              <input type="text" class="form-control" ng-model="user.nPrenom"/>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label " for="username">Username :</label>
              <input type="text" class="form-control" ng-model="user.nLogin"/>
            </td>
            <td>
              <label class="control-label requiredField" for="email">Email :</label>
              <input type="text" class="form-control" ng-model="user.nEmail"  />
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label " for="tel">Tel :</label>
            <input type="text" class="form-control" ng-model="user.nTel"/>
            </td>
            <td>
              <label class="control-label " for="type">Type :</label>
              <select class="form-control" id="exampleSelect1" ng-model="selectedtype">
                <option ng-repeat="type in TypeList">{{type}}</option>
              </select>
            </td>  
          </tr>
          <tr>
            <td>
              <label class="control-label " for="passwd">Password :</label>
              <input type="password" class="form-control" ng-model="user.npasswd"/>
            </td>
            <td ng-hide="selectedtype==Professeur">
              <label class="control-label " for="subject">Grade :</label>
              <select class="form-control" id="exampleSelect1" ng-model="selectedgrade">
                <option ng-repeat="grade in GradeList">{{grade}}</option>
            </td>
          </tr>
          <tr>
            <td>
                  <label class="control-label col-sm-2">Role :</label>
                  <label class="checkbox-inline">
                    <input ng-model="mask.prof" type="checkbox" id="professeur"/>
                    Professeur
                  </label>
                  <label class="checkbox-inline">
                     <input ng-model="mask.chefDepart" type="checkbox" id="chefDepartement"/>
                    Chef de departement
                  </label><br/>
                  <label class="checkbox-inline">
                    <input ng-model="mask.chefFil" type="checkbox" id="chefFilliere"/>
                    Chef de filliere
                  </label>
                  <label class="checkbox-inline">
                     <input ng-model="mask.chefDepart" type="checkbox" id="chefDepartement"/>
                    Chef de departement
                  </label>
            </td>
          </tr>
            <tr>
            <td>
              <button class="btn btn-success" ng-click="valider()">Ajouter</button>
              <button class="btn btn-warning" ng-click="hideAdd()">Annuler</button>
            </td>
            </tr>
          </tr>
        </table>
      </fieldset>
    </form> 
  </div>

  <div ng-class="expression"="adduser">
        <form ng-show="adduniv">
          <fieldset>
            <legend>Ajouter Universités</legend>
            <table class="table border">
              <tr>
                <td>
                  <label class="control-label " for="univ">Universités :</label>
                  <input type="text" class="form-control" ng-model="univ.nom"/>
                </td>
                <td>
                  <label class="control-label " for="univabv">Abreviation :</label>
                  <input type="text" class="form-control" ng-model="univ.abrev"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="control-label " for="etab">Etablissement :</label>
                  <input type="text" class="form-control" ng-model="etab.nom"/>
                </td>
                <td>
                  <label class="control-label requiredField" for="etababv">Abreviation :</label>
                  <input type="text" class="form-control" ng-model="etab.abrev"  />
                </td>
              </tr>
              <tr>
                <td>
                  <label class="control-label requiredField" for="dep">Departement :</label>
                  <input type="text" class="form-control" ng-model="dep.nom"/>
                </td>
                <td>
                  <label class="control-label " for="depabv">Abreviation :</label>
                 <input type="text" class="form-control" ng-model="dep.abrev"/>
                </td>
              </tr>
              <tr ng-show="adddep">
                <td>
                  <label class="control-label requiredField" for="dep">Departement :</label>
                  <input type="text" class="form-control" ng-model="dep.nom2"/>
                </td>
                <td>
                  <label class="control-label " for="depabv">Abreviation :</label>
                 <input type="text" class="form-control" ng-model="dep.abrev2"/>
                </td>
              </tr>
                <tr>
                <td><button class="btn btn-info" ng-click="Adddep()">AjouterDepartement</button></td>
                <td>
                  <button class="btn btn-success" ng-click="ajouteruniv()">Valider</button>
                  <button class="btn btn-warning" ng-click="hideAddUniv()">Annuler</button>
                </td>
                </tr>
              </tr>
            </table>
          </fieldset>
    </form> 

  </div>


  <!-- Table -->
  <fieldset class="list">
    <legend> La listes de Comptes</legend>
    <table class="table">
        <tr>
          <th >Nom</th>
          <th >Prenom</th>
          <th>Username</th>
          <th >Tel</th>
          <th >Email</th>
          <th >Options</th>
        </tr>
        <tr ng-repeat="a in items | filter:{nom:q} | orderBy:'nom' track by $index">
          <td class='input' ng-show="isEditable[$index]"><input class="form-control" type="text" ng-model="tmpEdit[$index].nom" /></td>
          <td class='input' ng-show="isEditable[$index]"><input class="form-control" type="text" ng-model="tmpEdit[$index].prenom" /></td>
          <td class='input' ng-show="isEditable[$index]"><input class="form-control" type="text" ng-model="tmpEdit[$index].login" /></td>
          <td class='input' ng-show="isEditable[$index]"><input class="form-control" type="text" ng-model="tmpEdit[$index].tel" /></td>
          <td class='input' ng-show="isEditable[$index]"><input class="form-control" type="text" ng-model="tmpEdit[$index].email" /></td>
          <td class='input' ng-show="isEditable[$index]">
              <button class="btn btn-success" ng-click="confirm($index,a)">Confirmer</button>
              <button class="btn btn-info" ng-click="annuler($index)">Annuler</button>
          </td>

          <td ng-hide="isEditable[$index]" >{{a.nom}}</td>
          <td ng-hide="isEditable[$index]" >{{a.prenom}}</td>
          <td ng-hide="isEditable[$index]" >{{a.login}}</td>
          <td ng-hide="isEditable[$index]" >{{a.tel}}</td>
          <td ng-hide="isEditable[$index]" >{{a.email}}</td>
          <td ng-hide="isEditable[$index]" >
            <button class="btn btn-warning" ng-click="editer(a,$index)">editer</button>
            <button class="btn btn-danger"  ng-click="delete(a)" data-toggle="modal" data-target="#myModal">Suprimer</button>
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><span class="glyphicon glyphicon-cog" /></button>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li ng-click="privilege(a)" data-toggle="modal" data-target="#myModal"><a>Roles</a></li>
                 <!-- <li ng-click="matiere(a)" data-toggle="modal" data-target="#myModal"><a>Matiere</a></li>-->
                </ul>
          </div>
          </td>
        </tr>
    </table>
  </fieldset>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div ng-switch="lightboxContentSwitch">
    
            <div ng-switch-when="delete" id="switchDelete" class="alert alert-danger center-block text-center">
                <div class="modal-header">
                  <h1>Attention!</h1>
                </div>
                <div class="modal-body">
                  <h3>Voulez vous vraiment supprimer {{activeObj.nom}} {{activeObj.prenom}}</h3>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" ng-click="confirmDelete(activeObj)" data-dismiss="modal">Confirmer</button>
                  <button class="btn btn-info" data-dismiss="modal">Annuler</button>
                </div>
            </div>

            <div ng-switch-when="settings" id="switchSettings" class="alert alert-info center-block text-center">
                <div class="modal-header">
                  <h1 class="text-center">{{activeObj.nom}} {{activeObj.prenom}}</h1>
                </div>
                <div class="modal-body">
                  <input type="checkbox" class="form-controller" id="professeur" ng-model="masks.prof"/>
                  <label for="professeur">Professeur</label><br/>

                  <input type="checkbox" class="form-controller" id="chefFillier" ng-model="masks.filliere"/>
                  <label for="chefFillier">chef de Filliere</label><br/>
                  
                  <input type="checkbox" class="form-controller" id="chefDepartement" ng-model="masks.departement"/>
                  <label for="chefDepartement">chef de departement</label><br/>

                  <input type="checkbox" class="form-controller" id="admin" ng-model="masks.admin"/>
                  <label for="admin">Administrateur</label><br/>
                  <br/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info text-center" ng-click="confirmPrivilege()" data-dismiss="modal">Valider</button>
                    <button class="btn btn-warning text-center" data-dismiss="modal">Annuler</button>
                </div>
            </div>

            <div ng-switch-when="matiere" id="switchDelete" class="alert alert-info center-block text-center">
                <div class="modal-header">
                  <h1>Matieres de {{activeObj.nom}} {{activeObj.prenom}}</h1>
                </div>
                <div class="modal-body">
                  <h3 ng-repeat="a in test">{{a.nom}}</h3>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" ng-click="" data-dismiss="modal">Confirmer</button>
                  <button class="btn btn-info" data-dismiss="modal">Annuler</button>
                </div>
            </div>
       </div>
    </div>

  </div>
</div>

<script type="text/javascript">
$("#upfile1").click(function () {
    $("#file1").trigger('click');
});
</script>